
.container
{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

// @media screen and (min-width:480px)
// {
//     .container{
//         padding-left: 20px;
//         padding-right: 20px;
//         max-width: 480px;
//         margin: 0 auto;
// }
// }

@media screen and (min-width:768px)
{
    .container{
        padding-left: 40px;
        padding-right: 40px;
        max-width: 768px;
    }
}

@media screen and (min-width:1366px)
{
    .container{
        max-width: 1366px;
}
}