//Variables-colors
$primary-color: #111518;
$secondary-color: #B9B9B9;
$third-color:#FF6B09;
$front-color: #FFFFFF;
$fire-fill-color:#3D3D3D;
$cubik:cubic-bezier(0.4, 0, 0.2, 1);
// Fonts
$font-primary: "Montserrat", sans-serif;

// Weight
$fw-medium: 500;
$fw-semi-bold:600;
$fw-bold: 700;
$fw-black: 800;
