$primary-color: #111518;
$secondary-color: #b9b9b9;
$third-color: #ff6b09;
$front-color: #ffffff;
$fire-fill-color: #3d3d3d;
$cubik: cubic-bezier(0.4, 0, 0.2, 1);
// Fonts
$font-primary: 'Montserrat', sans-serif;

// Weight
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 800;

//animation
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
