<section class="advantages">
    <div class="container">

        <h2 class="invisible">Our advantages</h2>

        <ul class="list advantages__list">
            <li class="advantages__item"><span class="item-icon">Adapted author's
                    UPE program</span></li>
            <li class="advantages__item"><span class="item-icon">Modern
                    teaching methods</span></li>
            <li class="advantages__item"><span class="item-icon">Financial guarantee
                    the result</span></li>
        </ul>
    </div>

</section>