<section class="advantages">
    <div class="container">

        <h2 class="invisible">Our advantages</h2>
        <div class="advantages__content-box">
            <ul class="list advantages__list">

                <li class="advantages__item  advantages__item--student">
                    <div class="advantages__item-icon">
                        <div class="item-icon__border-break"></div>
                        <svg width="40" height="48">
                            <use href="./images/icons.svg#student"></use>
                        </svg>
                    </div>
                    <p class="advantages__text">
                        Adapted author's
                        UPE program
                    </p>
                </li>


                <li class="advantages__item advantages__item--mobile">
                    <div class="advantages__item-icon advantages__item-icon-mobile--padding">
                        <div class="item-icon__border-break"></div>
                        <svg width="48" height="47">
                            <use href="./images/icons.svg#mobile"></use>
                        </svg>
                    </div>
                    <p class="advantages__text advantages__item--rule-width">
                        Modern
                        teaching methods
                    </p>
                </li>
                <li class="advantages__item advantages__item--insurance">
                    <div class="advantages__item-icon advantages__item-icon-insurance--padding">
                        <div class="item-icon__border-break"></div>
                        <svg width="42" height="48">
                            <use href="./images/icons.svg#insurance"></use>
                        </svg>
                    </div>
                    <p class="advantages__text advantages__item--rule-width">
                        Financial guarantee
                        the result
                    </p>
                </li>

            </ul>
        </div>
    </div>
</section>