<section class="cards" id="option">
  <div class="container">
    <h2 class="cards__section-title">Як ми це робимо</h2>
    <ul class="cards__wrapper">
      <li class="cards__content">
        <svg class="cards__svg" width="45" height="48" aria-label="picture of the program">
          <use href="./images/icons.svg#icon-noun_audio_book"></use>
        </svg>
        <h3 class="cards__title cards__title_first">Адаптована програма підготовки до НМТ</h3>
        <p class="cards__descr">
          Ви вивчатимете граматику та поповнювати словниковий запас одночасно. І ви навчитеся писати есе.
        </p>
      </li>
      <li class="cards__content">
        <svg class="cards__svg" width="45" height="48" aria-label="picture of the program">
          <use href="./images/icons.svg#icon-noun_mobile_learning"></use>
        </svg>
        <h3 class="cards__title cards__title_second">Онлайн навчання</h3>
        <p class="cards__descr">
          Вчитель допоможе не тільки на уроках, а й під час домашньої підготовки.<br />
          Батьки можуть писати вчителю, якщо бажають.
        </p>
      </li>
      <li class="cards__content">
        <svg class="cards__svg" width="45" height="48" aria-label="picture of the program">
          <use href="./images/icons.svg#icon-noun_open-book"></use>
        </svg>
        <h3 class="cards__title cards__title_third">Звичка читати англійською</h3>
        <p class="cards__descr">
          Повний розбір текстів з НМТ,із фідбеком, опарцювання, помилок і в кінці результат 180+
        </p>
      </li>
      <li class="cards__content">
        <svg class="cards__svg" width="45" height="48" aria-label="picture of the program">
          <use href="./images/icons.svg#icon-hands_and_people"></use>
        </svg>
        <h3 class="cards__title cards__title_fourth">Психологічний супровід</h3>
        <p class="cards__descr cards__descr_spacing">
          Ми навчимо вас техніці тестування, вмінню планувати свій тренінг впевненості <br />
          в собі.
        </p>
      </li>
      <li class="cards__content">
        <svg class="cards__svg" width="45" height="48" aria-label="picture of the program">
          <use href="./images/icons.svg#icon-noun_female_student"></use>
        </svg>
        <h3 class="cards__title cards__title_five">Матеріали</h3>
        <p class="cards__descr">
          Вам не доведеться витрачати час на пошуки матеріалу і купувати щось зайве. Ми зібрали для вас усі посібники.<br />
          <!-- 2 manuals for you. -->
        </p>
      </li>
      <li class="cards__content">
        <svg class="cards__svg" width="45" height="48" aria-label="picture of the program">
          <use href="./images/icons.svg#icon-noun_audio_book"></use>
        </svg>
        <h3 class="cards__title">Здатність розуміти розмовну англійську мову</h3>
        <p class="cards__descr">
          “F.R.I.E.N.D.S” не допоможе вам. Ви будете слухати регулярно <br />
          та аналізувати аудіозаписи відповідно до вивченого <br />
        </p>
      </li>
    </ul>
  </div>
</section>
