<footer class="footer">
  <div class="container">
    <div class="footer__contacts">
      <a href="" class="footer__logo link">
        <div class="footer-logo__container">
          <div class="footer-img__container">
            <span class="footer-logo">Hell</span>
            <img class="footer-logo__camp" src="./images/header/mobile/campfire.svg" alt="camp" />
            <span class="footer-logo">EN</span>
          </div>
          <div class="footer-inner__container">
            <span class="footer-logo__down">hellish</span
            ><span class="footer-logo__english">english</span>
          </div>
        </div>
      </a>
      <a href="tel:+380000000000" class="footer__link link">
        <svg class="footer__icon">
          <use href="./images/icons.svg#icon-noun_phone"></use>
        </svg>
        +38 (000) 000 00 00
      </a>
      <a href="" class="footer__box-icon"></a>
    </div>
    <div class="footer__copyright">@ All rights reserved, 2019</div>
  </div>
</footer>
