<section class="guarantee">
  <div class="container guarantee__container">
    <h2 class="guarantee__title">Ми гарантуємо</h2>
    <ul class="guarantee__list">
      <li class="guarantee__item">
        <p class="guarantee__text">
          Ми даємо гарантію на стовідсоткову сдачу НМТ,
          або ми повернемо гроші.<span class="guarantee__accent">*</span>
        </p>
      </li>

      <li class="guarantee__item">
        <p class="guarantee__text">
          Ми позбавимо вас мовного бар'єру
          <!-- <span class="guarantee__accent">While 20% of the students received 0 for essays.</span> -->
        </p>
      </li>

      <li class="guarantee__item">
        <p class="guarantee__text">
          Гнучкий графік та індивідуальний підхід до кожного
        </p>
      </li>

      <li class="guarantee__item">
        <p class="guarantee__text">
          Перший урок безкоштовно
        </p>
      </li>
    </ul>
  </div>
</section>
