<header class="header">
    <div class="container header__container">
        <a href="#" class="header__link link">
            <div class="logo__container">
                <div class="img__container">
                    <span class="logo">SCHO</span>
                    <img class="logo__camp" src="./images/header/mobile/olymp29.svg" alt="camp">
                    <span class="logo">L</span>
                </div>
                <div class="inner__container">
                    <span class="logo__down">british</span><span class="logo__english">olympicus</span>
                </div>
            </div>
        </a>
        <nav class="header__nav">
            <ul class="title__nav list">
                <!-- <li class="list__nav">
                        <a href="#program" class="link__nav link">
                            Studying program
                        </a>
                    </li> -->
                <li class="list__nav">
                    <a href="#prob" class="link__nav link">
                        Допомога
                    </a>
                </li>
                <li class="list__nav">
                    <a href="#option" class="link__nav link">
                        Що ми робимо
                    </a>
                </li>
                <li class="list__nav">
                    <a href="#contact" class="link__nav link">
                        Контакти
                    </a>
                </li>
            </ul>
        </nav>
        <a style="text-decoration: none; margin-left: 200px;" target="_blank"
            href="https://t.me/British_Olympicus"><button class="header__consultation">консультація по
                телефону</button></a>
        <button type="button" class="header__button btn" data-menu-button>
            <svg fill='white' class="menu__icon" width='20' height='12'>
                <use href="./images/icons.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
    <!-- Mobile menu -->
    <div class="mobile__menu " data-menu>
        <div class=" container mobile__menu__container">
            <button type="button" class="mobile__menu__close" data-menu-close>
                <svg class="mobile__cross">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <a href="#" class="mob__link link">
                <div class="mob__container">
                    <div class="mob__img__container">
                        <span class="logo__mob">SCO</span>
                        <img class="logo__mob__camp" src="./images/header/mobile/olymp29.svg" alt="camp">
                        <span class="logo__mob">L</span>
                    </div>
                    <div class="inner__mob__container">
                        <span class="logo__mob__down">BRITISH</span><span class="logo__mob__english">OLYMPICUS</span>
                    </div>
                </div>
            </a>
            <ul class="mobile__menu__nav list">
                <li class="mobile__title">
                    <a href="#prob" class="mobile__menu__link mob__current link">
                        Допомога
                    </a>
                </li>
                <!-- <li class="mobile__title">
                    <a href="#about" class="mobile__menu__link link">
                        About
                </a>
                </li> -->
                <li class="mobile__title contact__title">
                    <a href="#option" class="mobile__menu__link   link">
                        Що ми робимо
                    </a>
                </li>
                <li class="mobile__title contact__title">
                    <a href="#contact" class="mobile__menu__link   link">
                        Контакти
                    </a>
                </li>
            </ul>
            <a style="text-decoration: none;" target="_blank" href="https://t.me/British_Olympicus"><button
                    type="button" class="mob-btn-cons">консультація по телефону</button></a>
        </div>
    </div>
</header>