<section class="hero">
    <div class="container hero__container">
        <h1 class="hero__title">Комплексна підготовка до англійської мови</h1>
        <p class="hero__paragrapth"><span class="p__one">Це буде нелегко.</span>
            <span class="p__two">Дійди до свого </span>
            <span class="p__three">Олімпу</span>
        </p>
        <a style="text-decoration: none;" target="_blank" href="https://t.me/British_Olympicus"><button type="button"
                class="hero__btn">Я хочу безкоштовний урок</button></a>
        <picture class="hero__pic">
            <source srcset="./images/hero/obj.png" media="(min-width:1366px)">
            <source srcset="./images/hero/obj.png" media="(min-width:768px)">
            <source srcset="./images/hero/obj.png" media="(max-width:767px)">
            <img src="#" alt="teacher" class="teacher__pic">
        </picture>
    </div>
</section>