<section class="hero">
    <div class="container hero__container">
<h1 class="hero__title">Complex preparation for English UPE</h1>
<p class="hero__paragrapth"><span class="p__one">It won’t be easy.</span><br>
   <span class="p__two">But you’re guaranteed to get</span><br>
   <span class="p__three">+25 points</span></p>
    <button type="button" class="hero__btn">I want a free lesson</button>
    <picture class="hero__pic">
        <source srcset="./images/hero/desktop/teacher-desktop@1x.png 1x, ./images/hero/desktop/teacher-desktop@2x.png 2x" media="(min-width:1366px)">
        <source srcset="./images/hero/tablet/teacher-tab@1x.png 1x, ./images/hero/tablet/teacher-tab@2x.png 2x" media="(min-width:768px)">
        <source srcset="./images/hero/mobile/teacher-mob@1x.png 1x, ./images/hero/mobile/teacher-mob@2x.png 2x" media="(max-width:767px)">
    <img src="#" alt="teacher">
</picture>
</div>
</section>