<section class="problems" id="prob">
  <div class="container">
    <h2 class="problems__title">
      Основні проблеми студентів з англійської, які<span class="text-wrapping">
        ми <span class="accent-text">допомагаємо</span> вирішити</span
      >
    </h2>
    <div class="problems__bg-icon"></div>
    <ul class="problems__list">
      <li class="problems__item">Граматика</li>
      <li class="problems__item">Нездатність розуміти розмовну англійську</li>
      <li class="problems__item">Скупий словниковий запас для писання</li>
      <li class="problems__item">Готуватися самостійно</li>
      <li class="problems__item">Відсутність єдиного ресурсу знань</li>
      <li class="problems__item">Відсутність самоорганізації та лінь</li>
    </ul>
  </div>
</section>
<button class="up">UP</button>
