<section class="program">
  <div class="program-line"></div>
  <div class="container program__container">
    <h2 class="program__title">Our program</h2>
    <div class="program__list-wrapper">
      <ul class="program__list-main">
        <li class="program__item-main list">
          1 semester
          <ul class="program__sub-list">
            <li class="program__sub-item list">
              — Grammar
              <ul class="program__descr-list">
                <li class="program__descr-item list">Nouns & Articles</li>
                <li class="program__descr-item list">Adjectives & Adverb</li>
              </ul>
            </li>
            <li class="program__sub-item list">
              — Vocabulary
              <ul class="program__descr-list">
                <li class="program__descr-item list">Family & Relations</li>
                <li class="program__descr-item list">People & Society</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="program__item-main list">
          2 semester
          <ul class="program__sub-list">
            <li class="program__sub-item list">
              — Grammar
              <ul class="program__descr-list">
                <li class="program__descr-item list">Pronouns</li>
                <li class="program__descr-item list">Active Voice</li>
                <li class="program__descr-item list">Passive Voice</li>
              </ul>
            </li>
            <li class="program__sub-item list">
              — Vocabulary
              <ul class="program__descr-list">
                <li class="program__descr-item list">Home</li>
                <li class="program__descr-item list">School</li>
                <li class="program__descr-item list">Work</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="program__item-main list">
          3 semester
          <ul class="program__sub-list">
            <li class="program__sub-item list">
              — Grammar
              <ul class="program__descr-list">
                <li class="program__descr-item list">Modal verbs</li>
                <li class="program__descr-item list">Infinitive</li>
                <li class="program__descr-item list">Gerund</li>
                <li class="program__descr-item list">Participle: 1, 2</li>
              </ul>
            </li>
            <li class="program__sub-item list">
              — Vocabulary
              <ul class="program__descr-list">
                <li class="program__descr-item list">Travel & Tourism</li>
                <li class="program__descr-item list">Culture & Free Time</li>
                <li class="program__descr-item list">Sport</li>
              </ul>
            </li>
            <li class="program__sub-item list">
              — Writing
              <ul class="program__descr-list">
                <li class="program__descr-item list">Informal Letter</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="program__item-main list">
          4 semester
          <ul class="program__sub-list">
            <li class="program__sub-item list">
              — Grammar
              <ul class="program__descr-list">
                <li class="program__descr-item list">Clauses: Conditional and Wishes Direct</li>
                <li class="program__descr-item list">Reported speech</li>
                <li class="program__descr-item list">Preposition</li>
                <li class="program__descr-item list">Conjunction</li>
                <li class="program__descr-item list">Numeral</li>
              </ul>
            </li>
            <li class="program__sub-item list">
              — Vocabulary
              <ul class="program__descr-list">
                <li class="program__descr-item list">Healthy Living</li>
                <li class="program__descr-item list">Nature & Environment</li>
                <li class="program__descr-item list">Money</li>
              </ul>
            </li>
            <li class="program__sub-item list">
              — Writing
              <ul class="program__descr-list">
                <li class="program__descr-item list">Formal Letter</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="program__item-main list">
          5 semester
          <ul class="program__sub-list">
            <li class="program__sub-item list">
              — Grammar
              <ul class="program__descr-list">
                <li class="program__descr-item list">Revision</li>
                <li class="program__descr-item list">Tests</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="program__bg-container"></div>
  </div>
</section>
