.about img {
  width: 243px;

  @media screen and (min-width: 1366px) {
    width: 579.26px;
  }
}

.about {
  &__container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      max-width: 688px;
    }

    @media screen and (min-width: 1366px) {
      max-width: 1317px;
    }
  }

  &__tablet {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__second-block {
    @media screen and (max-width: 767px) {
      max-width: 280px;
    }
    @media screen and (min-width: 768px) {
      margin-left: 40px;
    }

    @media screen and (min-width: 1366px) {
      margin-left: 32px;
    }
  }

  &__title {
    font-weight: $fw-black;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      padding-bottom: 30px;
    }

    @media screen and (min-width: 1366px) {
      font-size: 46px;
      padding-bottom: 50px;
    }
  }

  &__subtitle {
    padding-top: 20px;
    padding-bottom: 10px;
    max-width: 280px;

    font-weight: $fw-black;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    border-bottom: 1px solid $secondary-color;

    @media screen and (min-width: 768px) {
      padding-top: 0;
      letter-spacing: 0.08em;
      max-width: 401px;
    }

    @media screen and (min-width: 1366px) {
      letter-spacing: 0.08em;
      font-size: 30px;
      max-width: 700px;
      padding-bottom: 15px;
    }
  }

  &__list {
    padding-top: 20px;
    list-style: none;

    @media screen and (min-width: 1366px) {
      padding-top: 30px;
    }
  }

  &__item {
    display: flex;

    font-weight: $fw-semi-bold;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.06em;

    @media screen and (min-width: 768px) {
      font-size: 12px;
    }

    @media screen and (min-width: 1366px) {
      font-size: 16px;
    }

    &::before {
      content: '';
      min-width: 17.08px;
      height: 14px;
      background: url('../images/about/done.svg');
      background-repeat: no-repeat;
      margin-right: 9px;

      @media screen and (min-width: 1366px) {
        width: 26.67px;
        height: 20px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 26px;
    }

    &:last-child {
      align-items: center;
    }
  }

  &__text {
    max-width: 253px;

    @media screen and (min-width: 768px) {
      max-width: 375px;
    }

    @media screen and (min-width: 1366px) {
      max-width: 579.26px;
    }
  }

  &__decoration {
    display: flex;
    padding-top: 40px;
    &::before {
      content: '';
      width: 20px;
      height: 2px;
      background-color: $third-color;
    }
  }

  &__description-list {
    list-style: none;
    max-width: 279px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: $fw-medium;
    font-size: 12px;
    line-height: 2.16;
    color: $secondary-color;

    @media screen and (min-width: 768px) {
      max-width: 401px;
      font-size: 10px;
    }

    @media screen and (min-width: 1366px) {
      max-width: 700.58px;
      font-size: 18px;
      padding-bottom: 20px;
    }
  }

  &__description-item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__link {
    color: $third-color;
    font-weight: $fw-medium;
    font-size: 11px;
    line-height: 1.66;

    @media screen and (min-width: 1366px) {
      font-size: 18px;
    }
  }
  @media (max-width: 767px) {
    padding-top: 39px;
  }
  @media (min-width: 768px) and (max-width: 1365px) {
    padding-top: 50px;
  }
  @media (min-width: 1366px) {
    padding-top: 329px;
  }
}
