.advantages {
  padding: 0 0 45px 0;
  // padding-bottom: 50px;

  &__list {
    padding: 0 32px;
  }

  &__item {
    display: inline-flex;
    align-items: center;

    width: 215px;
    height: 60px;
  }

  &__item:not(:last-child) {
    margin-bottom: 21px;
  }

  &__item::before {
    display: inline-block;
    content: '';

    margin-right: 10px;

    min-width: 60px;
    height: 60px;

    background-size: contain;
    background-repeat: no-repeat;
  }

  &__text {
    font-family: $font-primary;
    font-weight: $fw-bold;
    font-size: 14px;
    line-height: 1.64;
    letter-spacing: 0.08em;
  }
}

.advantages__item--student::before {
  background-image: url(../images/advantages/student.svg);
}
.advantages__item--mobile::before {
  background-image: url(../images/advantages/mobile.svg);
}
.advantages__item--insurance::before {
  background-image: url(../images/advantages/insurance.svg);
}

.advantages__content-box {
  width: 280px;
  margin: 0 auto;
}

.advantages__item--rule-width {
  width: 119px;
}
