// .benefits {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   margin: auto;
// }
.benefits {
  position: relative;
  top: -1px;
  @media (max-width: 767px) {
    background-image: linear-gradient(to bottom, $primary-color 68%, $bg-color 68%);
  }
  @media (min-width: 768px) and (max-width: 1365px) {
    background-image: linear-gradient(to bottom, $primary-color 45%, $bg-color 45%);
  }
  @media (min-width: 1366px) {
    background-image: linear-gradient(to bottom, $primary-color 53%, $bg-color 53%);
  }
}

.benefits .container {
  @media (max-width: 767px) {
    max-width: 320px;
  }
  @media (min-width: 768px) and (max-width: 1365px) {
  }
  @media (min-width: 1366px) {
    position: absolute;
    top: -227px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.benefits__title {
  margin-bottom: 30px;
  font-weight: $fw-black;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: $front-color;

  @media (max-width: 767px) {
    display: block;
    width: 180px;
  }

  @media (min-width: 768px) {
    text-align: center;
  }

  @media (min-width: 1366px) {
    display: none;
  }
}

.benefits__list {
  counter-reset: counter;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 14px;
  background-color: $front-color;
  @media (max-width: 767px) {
    max-width: 320px;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 98px;
    padding-top: 30px;
    padding-bottom: 21px;
    padding-right: 118px;
    min-height: 394px;
    align-content: space-between;
  }

  @media (min-width: 1366px) {
    padding-left: 84px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 82px;
    min-height: 398px;

    align-content: space-between;
  }
}

.benefits__item {
  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }
  @media (min-width: 768px) and (max-width: 1365px) {
    flex-basis: calc((100% - 2 * 20px) / 2);
    max-width: 236px;

    // &:nth-child(-n + 4) {
    //   margin-bottom: 34px;
    // }
  }

  @media (min-width: 1366px) {
    flex-basis: calc((100% - 3 * 40px) / 3);
    max-width: 356px;
  }
}

.benefits__counter {
  counter-increment: counter 0;
  display: block;
  margin-bottom: 10px;

  &::before {
    counter-increment: counter;
    content: '— 0' counter(counter);
    font-weight: $fw-bold;
    line-height: 1.65;

    color: $third-color;

    @media (min-width: 1366px) {
      font-size: 20px;
      line-height: 1.65;
    }
  }
}
.benefits__text {
  font-weight: $fw-bold;
  font-size: 14px;
  line-height: 2;

  @media (min-width: 768px) {
    line-height: 1.21;
  }

  @media (min-width: 1366px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
