button.up {
  display: none;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #ff6b09;
  border: solid 1px;
  border-color: #ff6b09;
  font-weight: bold;
  position: fixed;
  z-index: 999;
  right: -100px;
  bottom: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
  }
}

@media screen and (min-width: 480px) {
  button.up {
    display: block;
  }
}
