.cards {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  padding-bottom: 25px;

  .cards__section-title {
    margin-bottom: 30px;
    color: $new-color;
    @include font($fs: 20px, $fw: $fw-black, $lh: 26px);
    text-align: center;
  }

  .cards__wrapper {
    margin: -15px;
  }

  .cards__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    max-width: 280px;
    min-height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    color: $new-color;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 1.1);
    cursor: pointer;
    list-style: none;
    transition: background-color 250ms $cubik;

    &:hover,
    &:focus {
      background-color: $third-color;
      color: $front-color;
    }
  }

  .cards__content:hover .cards__svg,
  .cards__content:focus .cards__svg {
    fill: $front-color;
  }

  .cards__svg {
    display: block;
    margin: 0 auto 12px;
    fill: $logo;
    transition: fill 250ms $cubik;
  }

  .cards__title {
    position: relative;
    margin-bottom: 16px;
    @include font($fs: 14px, $fw: $fw-bold, $lh: 26px);
    text-align: center;
    transition: color 250ms $cubik;

    &:after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      display: block;
      width: 20px;
      height: 2px;
      background-color: $logo;
      transform: translateX(-50%);
      transition: background-color 250ms $cubik;
    }

    &_first,
    &_second,
    &_fourth {
      max-width: 250px;
    }
  }

  .cards__content:hover .cards__title:after,
  .cards__content:focus .cards__title:after {
    background-color: $front-color;
    color: $front-color;
  }

  .cards__descr {
    @include font($fs: 12px, $fw: $fw-medium, $lh: 20px);
    text-align: center;
    color: $secondary-color;
    transition: color 250ms $cubik;
    letter-spacing: 0.08em;
  }

  .cards__content:hover .cards__descr,
  .cards__content:focus .cards__descr {
    color: $front-color;
  }
}

@media screen and (max-width: 320px) {
  .cards {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .cards {
    .cards__section-title {
      @include font($fs: 26px, $fw: $fw-black, $lh: 34px);
    }

    .cards__wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: -27px;
    }

    .cards__content {
      max-width: calc((100% - 40px) / 2);
      min-height: 334px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 27px;
      padding: 40px 22px;
    }

    .cards__svg {
      margin-bottom: 30px;
    }

    .cards__title {
      min-height: 37px;
      margin-bottom: 30px;

      &:after {
        bottom: -15px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
  .cards {
    .cards__descr {
      &_spacing {
        letter-spacing: 0.07em;
      }
    }
  }
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1366px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .cards {
    padding-bottom: 130px;

    .cards__section-title {
      margin-bottom: 62px;
      @include font($fs: 46px, $fw: $fw-black, $lh: 60px);
      text-align: start;
    }

    .cards__content {
      max-width: calc((100% - 60px) / 3);
      min-height: 396px;
      padding: 40px 30px 55px;
    }

    .cards__title {
      min-height: 53px;
      @include font($fs: 20px, $fw: $fw-black, $lh: 28px);

      &_third {
        max-width: 250px;
      }

      &_five {
        max-width: 255px;
      }
    }

    .cards__descr {
      @include font($fs: 18px, $fw: $fw-medium, $lh: 28px);
    }
  }
}
