.contact {
  background: #111518;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('../images/contacts/contact-mob.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__title { 
  margin-bottom: 40px;
  text-align: center;

  font-weight: 800;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.03em;  
  color: #ffffff;
}

.form-text--color {
  color: #ff6b09;
}

.form__description {
  margin-bottom: 30px;
  text-align: center;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: #ffffff;
  
}

.form__label {
  margin-bottom: 20px;
}

.form__input {
  padding-left: 20px;
  width: 100%;
  height: 48px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.form__input:focus {
  border-color: #2196f3;
  outline: none;
}

.form__input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: rgba(255, 253, 253, 0.884);
}

.form__input:required:focus:not(:placeholder-shown):valid {
    border-color: green;
  }

.form__input:required:focus:not(:placeholder-shown):invalid {
    border-color: red;
  }

.form__btn {
  margin-top: 30px;
  padding: 14px 20px;
  align-self: center;

  width: 260px;
  height: 50;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff6b09;
  border: transparent;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.form__btn:hover,
.form__btn:focus {
  background: #df5900;
}
