.guarantee .container {
  padding: 0;
}

.guarantee {
  padding-top: 27px;
  &__container {
    width: 100%;
    // padding-left: 20px;
    // padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  &__accent {
    color: $third-color;
  }

  &__title {
    font-weight: $fw-black;
    font-size: 26px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
  }

  &__list {
    padding-top: 31px;
    padding-bottom: 30px;

    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    list-style: none;
    background-color: #f1f1f1;
    font-weight: $fw-medium;
    font-size: 12px;
    line-height: 1.66;
    color: $fire-fill-color;
  }

  &__item {
    display: flex;
    padding-left: 20px;
    &:not(:last-child) {
      border-left: 1px dashed $secondary-color;
      padding-bottom: 23px;
    }

    &::before {
      position: absolute;
      left: 14px;
      content: '';
      width: 15px;
      height: 20px;
ra      background: url('../images/guarantee/fire.svg');
      background-repeat: no-repeat;
    }
  }
}
