.program {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .program__container {
    position: relative;
  }

  padding: 50px 0 50px;
  background-color: $primary-color;
  color: $front-color;

  .program__title {
    margin-bottom: 43px;
    @include font($fs: 20px, $fw: 800, $lh: 26px);
    text-align: center;
  }

  .program__item-main {
    position: relative;
    margin-left: auto;
    padding-left: 26px;
    @include font($fs: 14px, $fw: 900, $lh: 28px);
    text-transform: uppercase;

    &:last-of-type {
      margin-top: -10px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: -6px;
      display: block;
      width: 12px;
      height: 12px;
      fill: $third-color;
      background: url('../images/our-program/elipse.svg');
      background-repeat: no-repeat;
    }
  }

  .program__sub-item {
    margin-top: 5px;
    @include font($fs: 12px, $fw: 900, $lh: 20px);
    color: $third-color;
    text-transform: none;
  }

  .program__descr-item {
    margin-top: 5px;
    @include font($fs: 12px, $fw: 500, $lh: 20px);
    color: $secondary-color;
    text-transform: none;
  }

  .program__bg-container {
    position: absolute;
    bottom: -104px;
    right: 0;
    width: 105px;
    height: 137px;
    background-color: $primary-color;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/our-program/mobile/mobile@1x.jpg');
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .program {
    .program__bg-container {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/our-program/mobile/mobile@2x.jpg');
    }
  }
}

@media screen and (min-width: 480px) {
  .program {
    .program__item-main {
      margin-left: 88px;
    }
  }
}

@media screen and (max-width: 767px) {
  .program {
    .container {
      max-width: 320px;
    }

    .program__item-main {
      max-width: 202px;
    }

    .program__sub-item {
      &:first-of-type {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .program {
    padding-top: 60px;
    padding-bottom: 189px;

    .program__title {
      margin-bottom: 52px;
      @include font($fs: 26px, $fw: 800, $lh: 34px);
      text-align: start;
    }

    .program__list-wrapper {
      padding-left: 60px;
    }

    .program__item-main {
      margin-left: 0;
      padding-left: 56px;

      &:not(:last-of-type) {
        padding-bottom: 30px;
      }
    }

    .program__sub-list {
      display: flex;
    }

    .program__sub-item {
      margin-top: 10px;
      width: 155px;

      &:not(:last-of-type) {
        margin-right: 50px;
      }
    }

    .program__descr-list {
      display: flex;
      flex-direction: column;
    }

    .program__bg-container {
      position: absolute;
      bottom: -138px;
      right: 0;
      width: 384px;
      height: 280px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/our-program/tablet/tablet@1x.jpg');
    }
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 1365px),
  (min-resolution: 192dpi) and (max-width: 1365px),
  (min-resolution: 2dppx) and (max-width: 1365px) {
  .program {
    .program__bg-container {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/our-program/tablet/tablet@2x.jpg');
    }
  }
}

@media screen and (max-width: 1365px) {
  .program {
    .program__item-main {
      &:not(:last-child) {
        border-left: 1px solid $front-color;
        padding-bottom: 40px;
      }

      &:first-of-type {
        line-height: 15px;
      }

      &:first-of-type:before {
        top: 0;
      }
    }
  }
}

@media screen and (min-width: 1366px) {
  .program {
    position: relative;
    padding: 0;
    padding-bottom: 153px;

    .program-line {
      position: absolute;
      width: 100%;
      height: 1px;
      top: 280px;
      left: 0;
      background-color: $front-color;
    }

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .program__title {
      margin-bottom: 0;
      padding-top: 120px;
      padding-bottom: 100px;
      padding-left: 25px;
      padding-right: 25px;
      @include font($fs: 46px, $fw: 800, $lh: 60px);
    }

    .program__list-wrapper {
      padding-left: 0;
    }

    .program__list-main {
      padding-left: 25px;
      padding-right: 25px;
    }

    .program__item-main {
      padding-left: 0;
      width: 240px;
      @include font($fs: 20px, $fw: $fw-bold, $lh: 28px);

      &:before {
        position: absolute;
        top: -66px;
        left: 0;
      }

      &:last-of-type {
        margin-top: 0;
      }

      &:not(:last-of-type) {
        margin-right: 30px;
        padding-bottom: 0;
      }
    }

    .program__list-main {
      display: flex;
      padding-top: 60px;
    }

    .program__sub-list {
      display: flex;
      flex-direction: column;
    }

    .program__sub-item {
      margin-top: 25px;
      width: 240px;
      @include font($fs: 20px, $fw: $fw-bold, $lh: 32px);

      &:not(:last-of-type) {
        margin-right: 0;
      }
    }

    .program__descr-item {
      @include font($fs: 18px, $fw: $fw-medium, $lh: 28px);
    }

    .program__bg-wrapper {
      position: relative;
      width: 1366px;
      margin-left: auto;
      margin-right: auto;
    }

    .program__bg-container {
      position: absolute;
      bottom: -380px;
      right: 0;
      left: -150px;
      z-index: 0;
      width: 663px;
      height: 502px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/our-program/desktop/desktop@1x.jpg');
    }
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1366px),
  (min-resolution: 192dpi) and (min-width: 1366px),
  (min-resolution: 2dppx) and (min-width: 1366px) {
  .program {
    .program__bg-container {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/our-program/desktop/desktop@2x.jpg');
    }
  }
}
